* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

.App,
.App-dark {
  padding: 50px;
  min-height: 100vh;
  transition: background 0.3s;
}

.App-dark {
  background: #222;
  color: #eee;
}

.App {
  background: #fff;
  color: #333;
}

label,
button {
  cursor: pointer;
}

label {
  display: inline-flex;
  align-items: center;
}

label > input {
  margin-right: 8px;
}

fieldset,
.fieldset {
  display: flex;
  flex-direction: column;
  border: 2px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px 15px;
}

.App-dark fieldset {
  border: 2px solid #333;
}

button {
  font-size: 18px;
  border: 2px solid #a6a6a6;
  border-radius: 4px;
  display: inline-flex;
  padding: 10px;
  background: #fafafa;
}

.App-dark button {
  background: #333;
  color: #fff;
}

button:active {
  transform: translateY(1px);
}

.row {
  display: flex;
  flex-direction: row;
}

.row.end {
  justify-content: flex-end;
}

h2 {
  margin: 10px 0 15px 0;
}
